<h1>Input</h1>

<p>Put one variable per line, without any other spaces. No more than 10 variables.</p>

<p><textarea id="theVariables" style="width:100%;height:10em">a
b
c
d</textarea></p>

<p>Put one objective per line.</p>

<p><textarea id="theObjectives" style="width:100%;height:10em">Minimize( a*a + b*b )
Value( a + b, 10 )
Difference( a, c, 12)</textarea></p>

<p>Put one constraint per line.</p>

<p><textarea id="theConstraints" style="width:100%;height:10em">a + b >= 12
a - c <= 10</textarea></p>

<p><button id="theButton">Update</button></p>

<h1>Generated C++ code</h1>
<iframe id="theCode" src="" style="width:100%;height:20em"></iframe>

<h1>Output</h1>
<iframe id="theOutput" src="" style="width:100%;height:10em"></iframe>

